$primary-color: #f56905;
$text-color: #191919;
$text-color-white: #fff;
$bg-color: #fff;

$white-color: #fff;
$black-color: #000;

$font-stack: "Montserrat", Helvetica, Arial, sans-serif;
$font-secondary: 'Roboto', Helvetica, Arial, sans-serif;

$t-time: 150ms;
$t-time-2: 300ms;
$t-ease: ease-in-out;

