.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 4vw solid $bg-color;
    border-bottom: 0;
    z-index: 15;
    transform: translate3d(0,-4vw,0) scaleX(1.088);
    transition: transform .5s cubic-bezier(.16,1,.3,1),visibility .5s .5s;
    pointer-events: none;

    @include mq(900px) {
        border: 1.33333vw solid #fff;
        border-top: 0;
        transform: translate3d(0,1.33333vw,0) scaleX(1.02933);
    }

    &.open {
        visibility: visible;
        transform: translateZ(0) scaleX(1);
        transition: transform .5s cubic-bezier(.16,1,.3,1),visibility .5s;
    }
}

.navSVG {
    position: absolute;
    top: -2000px;
    left: -200px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    pointer-events: none;

    &.open {
        pointer-events: initial;
    }

    // @include mq(900px) {
    //     height: 20vh;
    // }


    // Mobile menu content
    &__content {
        width: 100%;
        height: 100%;
        // background-color: $bg-color;
        // padding: 1rem;
        padding-bottom: 0;
        @include flex(center, flex-start);
        flex-direction: column;
        // transform: scale(0);
        transform-origin: center center;
        transition: transform .5s cubic-bezier(.16,1,.3,1);

        @include mq(900px) {
            // height: 10vh;
            transform: translateY(-10vh);
        }

        &.open {
            // transform: scale(1);
            pointer-events: initial;
            @include mq(900px) {
                transform: translateY(0);
            }

            .nav__image {
                opacity: 1;
                transition: opacity .5s linear 0.25s;
            }

            .nav__list {
                transform: translateY(0);

            }
        }
    }

    &__image {
        padding: 2vh;
        padding-bottom: 0;
        width: 100%;
        height: 50vh;
        // margin-bottom: 5rem;
        opacity: 0;
        transition: opacity .2s linear;
        background-color: $bg-color;

        @include mq(768px) {
            padding: 4rem;
            padding-bottom: 0;
        }

        @include mq(900px) {
            visibility: hidden;
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__list {
        width: 100%;
        // height: 0;
        height: 50vh;
        padding-top: 5rem;
        transform: translateY(100%);
        // transform-origin: center bottom;
        background-color: $bg-color;
        overflow: hidden;
        transition: transform .5s cubic-bezier(.16,1,.3,1);

        @include mq(900px) {
            padding: 0 3rem 0;
            width: 100%;
            height: 10vh;
            // height: 100%;
            // @include absolute(-10vh);
            @include flex(center, space-between);
            transform: translateY(0);
            z-index: 3;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: .5rem;
        @include mq(900px) {
            margin: 0;
        }
    }

    &__link {
        display: block;
        padding: 0.5rem;
        text-align: center;
        color: $text-color;
        font-size: 1.2rem;
        font-weight: 500;

        @include mq(768px) {
            font-size: 1.6rem;
        }
        span {
            display: block;

            &:first-child {
                font-size: 1.4rem;
            }
            &:nth-child(2) {
                font-weight: 400;
            }
        }

        &.active {
            span:first-child {
                color: $primary-color;
            }
        }
    }


    // Mobile menu Toggler
    &__button {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: $bg-color;
        cursor: pointer;
        position: absolute;
        bottom: 5vh;
        left: 1rem;
        box-shadow: 0 3px 10px rgba(black, 0.4);
        -webkit-tap-highlight-color: transparent;
        pointer-events: all;
        

        @include mq(900px) {
            width: 16.8rem;
            height: 3rem;
            position: static;
            margin: 0 auto;
            margin-top: -2px;
            bottom: auto;
            border-radius: 0;
            clip-path: url(#menuButtonClip);
            transition: transform .5s cubic-bezier(.16,1,.3,1);
            z-index: 2;
        }

        // white circle on the cross when open
        &::before {
            content: '';
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 50%;
            background-color: transparent;
            @include absolute(52%, 50%);
            transform: translate(-50%, -50%);
            z-index: 2;
            transition: background-color $t-time $t-ease;
        }

        &.open {
            &::before {
                background-color: inherit;
            }
            .nav__lines {
                &::before,
                &::after {
                    top: 0;
                    background-color: $primary-color;
                    // transition: background-color $t-time linear, top $t-time $t-ease, transform $t-time $t-ease $t-time;
                }

                &::before {
                    transform: rotate(-45deg);
                }
                &::after {
                    transform: rotate(45deg);
                }
            }
        }

        button {
            @include flex;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }


    &__lines {
        width: 60%;
        position: relative;
        @include flex;
        @include mq(900px) {
            width: 3rem;
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $text-color;
            position: absolute;
            transition: all $t-time $t-ease;

        }

        &::before {
            top: -4px;
        }
        &::after {
            top: calc(100% + 2px);
        }
    }
}