.info {
	&__container {
		padding: 4rem 0;
		@include flex(flex-start);
	}

	&__item {
		width: 50%;
	}

	&__name {
		h3 {
			font-size: 3rem;
			text-transform: uppercase;
			font-weight: 500;
			span {	
				display: block;
			}

			@include mq(768px) {
				font-size: 2.5rem;
				span {
					display: inline-block;
				}
			}
			@include mq(1200px) {
				font-size: 3.5rem;
			}
		}

		@include mq(900px) {
			width: 25%;
		}
	}

	&__facts {
		@include mq(900px) {
			@include flex(flex-start, space-between);
			width: 75%;
		}
	}

	

	small {
		display: inline-block;
		font-size: 1.2rem;
		margin-bottom: 1rem;

		@include mq(768px) {
			font-size: 1.4rem;
		}
		@include mq(900px) {
			font-size: 1.6rem;
		}
	}

	h4 {
		font-size: 1.6rem;
		font-weight: 500;

		@include mq(768px) {
			font-size: 1.8rem;
		}
		@include mq(900px) {
			font-size: 2rem;
		}
		@include mq(1200px) {
			font-size: 2.2rem;
		}
	}
}